[submodule "ElinMod"]
	path = ElinMod
	url = https://github.com/yu-ituki/ElinMod.git
[submodule "Mod_AgainstTheStorm"]
	path = Mod_AgainstTheStorm
	url = https://github.com/yu-ituki/Mod_AgainstTheStorm.git
[submodule "Mod_OurAdventurerGuild"]
	path = Mod_OurAdventurerGuild
	url = https://github.com/yu-ituki/Mod_OurAdventurerGuild.git
[submodule "Mod_MHWs"]
	path = Mod_MHWs
	url = https://github.com/yu-ituki/Mod_MHWs.git
